<div class="container mt-5">
  <div class="card ms-auto me-auto p-3 shadow-lg custom-card">


    <table >

      <tr >
        <td>
     
            <div class="alert alert-danger" *ngIf="errorMessage">
              {{errorMessage}}
            </div>

            <div >
              <label for="name">Event Name</label>
              <input type="text" id="name" name="name" [(ngModel)]="event.name" #name="ngModel" class="form-control"
                required>
              <div class="alert-danger" *ngIf="!username.valid">
                event name is required.
              </div>
            </div>

            <div >
              <label for="duration">duration</label>
              <input type="number" id="duration" name="duration" [(ngModel)]="event.duration" #username="ngModel"
                class="form-control" required>
              <div class="alert-danger" *ngIf="!username.valid">
                duration is required.
              </div>
            </div>

            <button type="submit" (click)="save()" class="btn btn-danger w-100 mt-3">
              Add
            </button>
            <button  type="submit" (click)="removeAll()" class="btn btn-danger w-100 mt-3" id="Remove All">
              Remove All
            </button>
   

        </td>



        <td  style="margin-left:10px;">
          <div class="row" style="margin-left:300px;">
            <label  class="w-100 mt-3" style="text-align: center; background-color: brown;">All Events</label>
            <table>
              <tr  *ngFor="let event of events;">
                <td>{{event.name}}</td>
                <td>{{event.duration}}</td>
              </tr>
            </table>
          </div>
        </td>

      </tr>
      <tr>

        <td>
          <div class="row" style="margin-left:10px;">
            <button type="submit" class="btn btn-danger w-100 mt-3"  (click)="scheduleEvents()">Schedule</button>
            <table>
              <tr  *ngFor="let event of scheduledEvents;">
                <td>{{event.eventTime}}</td>
                <td>{{event.name}}</td>
                <td>{{event.duration}}</td>
              </tr>
            </table>

          </div>
        </td>
         

      </tr>

    </table>

  </div>
</div>